	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/12/2018 08:24
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-mail:before { content: "\f100"; }
.flaticon-002-mail-1:before { content: "\f101"; }
.flaticon-003-mail-2:before { content: "\f102"; }
.flaticon-004-mail-3:before { content: "\f103"; }
.flaticon-005-calendar:before { content: "\f104"; }
.flaticon-006-event:before { content: "\f105"; }
.flaticon-007-event-1:before { content: "\f106"; }
.flaticon-008-event-2:before { content: "\f107"; }
.flaticon-009-flow-chart:before { content: "\f108"; }
.flaticon-010-flow-chart-1:before { content: "\f109"; }
.flaticon-011-alarm-clock:before { content: "\f10a"; }
.flaticon-012-alarm-clock-1:before { content: "\f10b"; }
.flaticon-013-notes:before { content: "\f10c"; }
.flaticon-014-notes-1:before { content: "\f10d"; }
.flaticon-015-notes-2:before { content: "\f10e"; }
.flaticon-016-notes-3:before { content: "\f10f"; }
.flaticon-017-notes-4:before { content: "\f110"; }
.flaticon-018-notes-5:before { content: "\f111"; }
.flaticon-019-calendar-1:before { content: "\f112"; }
.flaticon-020-notes-6:before { content: "\f113"; }
.flaticon-021-notes-7:before { content: "\f114"; }
.flaticon-022-calendar-2:before { content: "\f115"; }
.flaticon-023-clipboard:before { content: "\f116"; }
.flaticon-024-inbox:before { content: "\f117"; }
.flaticon-025-inbox-1:before { content: "\f118"; }
.flaticon-026-deadline:before { content: "\f119"; }
.flaticon-027-clipboard-1:before { content: "\f11a"; }
.flaticon-028-laptop:before { content: "\f11b"; }
.flaticon-029-monitor:before { content: "\f11c"; }
.flaticon-030-notebook:before { content: "\f11d"; }
.flaticon-031-stopclock:before { content: "\f11e"; }
.flaticon-032-notebook-1:before { content: "\f11f"; }
.flaticon-033-notebook-2:before { content: "\f120"; }
.flaticon-034-alert:before { content: "\f121"; }
.flaticon-035-calendar-3:before { content: "\f122"; }
.flaticon-036-notes-8:before { content: "\f123"; }
.flaticon-037-notebook-3:before { content: "\f124"; }
.flaticon-038-notebook-4:before { content: "\f125"; }
.flaticon-039-clipboard-2:before { content: "\f126"; }
.flaticon-040-pin:before { content: "\f127"; }
.flaticon-041-calendar-4:before { content: "\f128"; }
.flaticon-042-calendar-5:before { content: "\f129"; }
.flaticon-043-email:before { content: "\f12a"; }
.flaticon-044-skills:before { content: "\f12b"; }
.flaticon-045-skills-1:before { content: "\f12c"; }
.flaticon-046-clipboard-3:before { content: "\f12d"; }
.flaticon-047-clipboard-4:before { content: "\f12e"; }
.flaticon-048-clipboard-5:before { content: "\f12f"; }
.flaticon-049-laptop-1:before { content: "\f130"; }
.flaticon-050-clipboard-6:before { content: "\f131"; }
.flaticon-051-calendar-6:before { content: "\f132"; }
.flaticon-052-calendar-7:before { content: "\f133"; }
.flaticon-053-pin-1:before { content: "\f134"; }
.flaticon-054-clipboard-7:before { content: "\f135"; }
.flaticon-055-notes-9:before { content: "\f136"; }
.flaticon-056-clipboard-8:before { content: "\f137"; }
.flaticon-057-clipboard-9:before { content: "\f138"; }
.flaticon-058-checklist:before { content: "\f139"; }
.flaticon-059-file:before { content: "\f13a"; }
.flaticon-060-calendar-8:before { content: "\f13b"; }
.flaticon-061-calendar-9:before { content: "\f13c"; }
.flaticon-062-notes-10:before { content: "\f13d"; }
.flaticon-063-calendar-10:before { content: "\f13e"; }
.flaticon-064-smartphone:before { content: "\f13f"; }
.flaticon-065-smartphone-1:before { content: "\f140"; }
.flaticon-066-file-1:before { content: "\f141"; }
.flaticon-067-file-2:before { content: "\f142"; }
.flaticon-068-chat:before { content: "\f143"; }
.flaticon-069-clipboard-10:before { content: "\f144"; }
.flaticon-070-laptop-2:before { content: "\f145"; }
.flaticon-071-monitor-1:before { content: "\f146"; }
.flaticon-072-post:before { content: "\f147"; }
.flaticon-073-notes-11:before { content: "\f148"; }
.flaticon-074-clipboard-11:before { content: "\f149"; }
.flaticon-075-file-3:before { content: "\f14a"; }
.flaticon-076-smartphone-2:before { content: "\f14b"; }
.flaticon-077-tick:before { content: "\f14c"; }
.flaticon-078-clipboard-12:before { content: "\f14d"; }
.flaticon-079-clipboard-13:before { content: "\f14e"; }
.flaticon-080-clipboard-14:before { content: "\f14f"; }
.flaticon-081-chart:before { content: "\f150"; }
.flaticon-082-computer:before { content: "\f151"; }
.flaticon-083-smartphone-3:before { content: "\f152"; }
.flaticon-084-pin-2:before { content: "\f153"; }
.flaticon-085-clipboard-15:before { content: "\f154"; }
.flaticon-086-notebook-5:before { content: "\f155"; }
.flaticon-087-clipboard-16:before { content: "\f156"; }
.flaticon-088-cube:before { content: "\f157"; }
.flaticon-089-chat-1:before { content: "\f158"; }
.flaticon-090-clipboard-17:before { content: "\f159"; }
.flaticon-091-clipboard-18:before { content: "\f15a"; }
.flaticon-092-clipboard-19:before { content: "\f15b"; }
.flaticon-093-clipboard-20:before { content: "\f15c"; }
.flaticon-094-flag:before { content: "\f15d"; }
.flaticon-095-email-1:before { content: "\f15e"; }
.flaticon-096-email-2:before { content: "\f15f"; }
.flaticon-097-clipboard-21:before { content: "\f160"; }
.flaticon-098-smartphone-4:before { content: "\f161"; }
.flaticon-099-clipboard-22:before { content: "\f162"; }
.flaticon-100-clipboard-23:before { content: "\f163"; }